# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env


# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# content collections
.content-collections
.contentlayer/package.json
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-4LDJJOEH.mjs
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-4LDJJOEH.mjs.map
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-C6W4DZYZ.mjs
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-C6W4DZYZ.mjs.map
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-CSLMGQ5E.mjs
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-CSLMGQ5E.mjs.map
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-CXZII4OJ.mjs
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-CXZII4OJ.mjs.map
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-EYIKSSIY.mjs
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-EYIKSSIY.mjs.map
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-H2YD7ILW.mjs
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-H2YD7ILW.mjs.map
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-I7666AYP.mjs
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-I7666AYP.mjs.map
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-JCI44N3B.mjs
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-JCI44N3B.mjs.map
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-NKF5G44G.mjs
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-NKF5G44G.mjs.map
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-NRF2YLC4.mjs
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-NRF2YLC4.mjs.map
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-PUTT5UDC.mjs
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-PUTT5UDC.mjs.map
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-SHSKILK5.mjs
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-SHSKILK5.mjs.map
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-SPTPCGTT.mjs
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-SPTPCGTT.mjs.map
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-SVCYFFUB.mjs
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-SVCYFFUB.mjs.map
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-SZY3TVTV.mjs
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-SZY3TVTV.mjs.map
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-TQWDSK5A.mjs
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-TQWDSK5A.mjs.map
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-YBLJVEPI.mjs
.contentlayer/.cache/v0.3.4/compiled-contentlayer-config-YBLJVEPI.mjs.map
.contentlayer/.cache/v0.3.4/data-CSLMGQ5E.json
.contentlayer/.cache/v0.3.4/data-H2YD7ILW.json
.contentlayer/.cache/v0.3.4/data-PUTT5UDC.json
.contentlayer/.cache/v0.3.4/data-SHSKILK5.json
.contentlayer/.cache/v0.3.4/data-SPTPCGTT.json
.contentlayer/.cache/v0.3.4/data-YBLJVEPI.json
.contentlayer/.cache/v0.4.3/compiled-contentlayer-config-7BVNR3ZM.mjs
.contentlayer/.cache/v0.4.3/compiled-contentlayer-config-7BVNR3ZM.mjs.map
.contentlayer/.cache/v0.4.3/compiled-contentlayer-config-55O6GQKB.mjs
.contentlayer/.cache/v0.4.3/compiled-contentlayer-config-55O6GQKB.mjs.map
.contentlayer/.cache/v0.4.3/compiled-contentlayer-config-IGYS54YR.mjs
.contentlayer/.cache/v0.4.3/compiled-contentlayer-config-IGYS54YR.mjs.map
.contentlayer/.cache/v0.4.3/compiled-contentlayer-config-IMAKEDWZ.mjs
.contentlayer/.cache/v0.4.3/compiled-contentlayer-config-IMAKEDWZ.mjs.map
.contentlayer/.cache/v0.4.3/data-7BVNR3ZM.json
.contentlayer/.cache/v0.4.3/data-55O6GQKB.json
.contentlayer/.cache/v0.4.3/data-IGYS54YR.json
.contentlayer/.cache/v0.4.3/data-IMAKEDWZ.json
.contentlayer/generated/index.d.ts
.contentlayer/generated/index.mjs
.contentlayer/generated/types.d.ts
.contentlayer/generated/Craft/_index.json
.contentlayer/generated/Craft/_index.mjs
.contentlayer/generated/Craft/crafts__carousel.mdx.json
.contentlayer/generated/Craft/crafts__dynamic-input-label.mdx.json
.contentlayer/generated/Craft/crafts__filters.mdx.json
.contentlayer/generated/Craft/crafts__folder.mdx.json
.contentlayer/generated/Craft/crafts__order.mdx.json
.contentlayer/generated/Craft/crafts__quick-reaction.mdx.json
.contentlayer/generated/Craft/crafts__waitlist.mdx.json
.contentlayer/generated/Experience/_index.json
.contentlayer/generated/Experience/_index.mjs
.contentlayer/generated/Experience/experience__hsn.mdx.json
.contentlayer/generated/Experience/experience__perficient.mdx.json
.contentlayer/generated/Experience/experience__threshold360.mdx.json
.contentlayer/generated/Experience/experience__vip-software.mdx.json
.contentlayer/generated/Project/_index.json
.contentlayer/generated/Project/_index.mjs
.contentlayer/generated/Project/projects__ai-assistants.mdx.json
.contentlayer/generated/Project/projects__ecommerce-platform.mdx.json
.contentlayer/generated/Project/projects__wine-discovery.mdx.json
